.image-upload {
  text-align: left;
}

.image-upload.center {
  text-align: center;
}

.image-upload__preview {
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
  border: 1px dashed #888;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}